<h1><%= currentUser.name %> Choose a Civilization. Or pick one of your favorites</h1>
<p>Civilizations:</p>
 <ul>
   <% civData.forEach(civ => { %>
      <li><a href='/civilization/<%= civ.name %>'><%= civ.name %></a></li> 
  <%  }) %>
</ul>


