<ul>
    <% unitData.forEach(units => { %>
       <li><a href='/techUnit/<%= units.name %>'><%= units.name %></a></li> 
    <%  }) %>
</ul>
<ul>
  <% techData.forEach(techs => { %>
     <li><a href='/techUnit/<%= techs.name %>'><%= techs.name %></a></li> 
  <%  }) %>
</ul>

